{% extends "default/layout.html" %}
{% load static %}

{% block title %} Kosár {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">
                        <hr>
						<p>Személyes adatok:</p>
						<hr>
                        <div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Név">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email">
						</div>
                    </div>
                    <div id="shipping-info">
                        <hr>
						<p>Szállítási adatok:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Cím">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="Város">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="Ország">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Irányítószám">
						</div>
                    </div>
                    <hr>
                    <div class="d-grid gap-2">
                    <input id="form-button" class="btn btn-success" type="submit" value="Folytatás">
                    </div>
                </form>
            </div>
            <br>

            <div class="box-element hidden" id="payment-info">
                <small>Paypal fizetés</small>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'kosar' %}">&#x2190;Vissza a kosárhoz</a>
                <hr>
                <h3>Rendelés</h3>
                <hr>
                <div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
					<div style="flex:2"><p>Termék 1</p></div>
					<div style="flex:1"><p>1500 HUF</p></div>
					<div style="flex:1"><p>x2</p></div>
				</div>
				<h5>Darabszám:   2</h5>
				<h5>Összeg:   3000</h5>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {# Ide jönnek a szkriptek, ha esetleg kellene egyedi csak ehhez az oldalhoz #}
{% endblock %}