{% extends "default/layout.html" %}
{% load static %}

{% block title %} GY.I.K. {% endblock %}

{% block body %}

    <br>
    <h1 style="text-align: center">Gyakran ismételt kérdések:</h1>
    <br>
    <br>
    <h2 style="color: #F77C01">A termékek valódiak?</h2>
    <br>
    <h4>Termékeinkről elmondhatók, hogy valószínűleg valódiak/valódiak voltak valamikor.</h4>
    <br>
    <br>
    <h2 style="color: #F77C01">Van pénzvisszafizetés?</h2>
    <br>
    <h4>Pénzvisszafizetésről az eladóval kell egyeztetni ha igény van rá.</h4>
    <br>
    <br>
    <h2 style="color: #F77C01">A termékekre van garancia?</h2>
    <br>
    <h4>A termékekre az Rosszfogás® nem vállal garanciát, az eladóval kell egyeztetni ha igény van rá.</h4>
    <br>
    <br>
    <h2 style="color: #F77C01">A Rosszfogás egy valós, bejegyzett cég?</h2>
    <br>
    <h4>A Rosszfogás® egy igen sokszínű, gyorsan gyarapodó cég, amiről elmondható, hogy kemény munka gyümölcse. További információért keressenek fel minket elérhetőségeink egyikén.</h4>
    <br>
    <br>
    <h2 style="color: #F77C01">Mennyire megbízhatóak az eladók?</h2>
    <br>
    <h4>Eladóiban a Rosszfogás® nagy mértékben megbízik, nem a mi dolgunk minősíteni Őket.</h4>
    <br>
    <br>
    <h2 style="color: #F77C01">Panasszal hova fordulhatok?</h2>
    <br>
    <h4>A Rosszfogás® Fórum a nap 24 órájában nyitva! Ügyfélszolgálatunk igyekszik a lehető leghamarabb segíteni.</h4>
    <br>
    <br>
    <br>
    <h1 style="text-align: center">A weboldal mindennapi használatára a videóban találhat általános útmutatót:</h1>


    <!--
    Ez az oldal szörnyen néz ki, de nem fő funkciót lát el szóval ehhez úgyse nyúlok többet
    -->

    <div style="text-align: center;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Da_yib9FOBk?si=4SnpRsP5j58tb1kj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

{% endblock %}

{% block scripts %}
    {# Ide jönnek a szkriptek, ha esetleg kellene egyedi csak ehhez az oldalhoz #}
{% endblock %}