{% load static %}
{% url 'regisztracio' as regisztracio_url %}
{% url 'bejelentkezes' as bejelentkezes_url %}

<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Rosszfogás - {% block title %}{% endblock %}</title>
        
        <!--Stílusok-->
        <!-- Regebbi BS, még kellhet
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="{% static 'default/styles.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        
        <script>
            var user = '{{request.user}}'
        </script>

        <script>
            function toggleDropdown() {
            document.getElementById("dropdown-menu").classList.toggle("show");
          }
          window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }
        </script>

        {# Oldalanként külön stílusok hozzáadásához #}
        <style>
            
        </style>
        {% block sytlesheets %}
        {% endblock %}
    </head>
    <body>
    
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'shop' %}">
                <img id="logo2" src="{% static 'images/logo2.png' %}">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'shop' %}">
                            <i class='bx bx-store' ></i>
                            <strong>Bolt</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'gyik' %}">
                            <i class='bx bx-question-mark'></i>
                            <strong>GY.I.K.</strong>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'forum' %}">
                                <i class='bx bxs-conversation'></i>
                                <strong>Fórum</strong>
                            </a>
                        </li>
                    {% endif %}
                </ul>
    
                <div class="form-inline my-2 my-lg-0">
                    {% if user.is_authenticated %}
                    <div class="dropdown" style="display: inline-block;">
                        <button onclick="toggleDropdown()" class="dropbtn">
                          <i id="user-icon" class='bx bxs-user-circle bx-md'></i>
                        </button>
                        <div id="dropdown-menu" class="dropdown-content">
                          <a href="{% url 'fiok' %}">{{customer.name}} profilja</a>
                          <a href="{% url 'hirdetes_letrehozasa' %}">Hirdetés</a>
                          <a href="{% url 'logout' %}">Kijelentkezés</a>
                        </div>
                      </div>
                      <a href="{% url 'kosar' %}"  style="text-decoration: none;">
                        <i id="cart-icon" class='bx bxs-cart bx-md'></i>
                      </a>
                    {% endif %}

                    {% if request.path != regisztracio_url and request.path != bejelentkezes_url and not user.is_authenticated %}
                    <a class="btn btn-primary btn-rounded custom-btn" href="{% url 'regisztracio' %}">Regisztráció</a>
                    <span class="vertical-line"></span>
                    <a class="btn btn-primary btn-rounded custom-btn" href="{% url 'bejelentkezes' %}" style="margin-right: 15vh;">Bejelentkezés</a>
                    {% endif %}
                </div>
              </div>
            </div>
        </nav>
      


        <div class="container">
            {% block body %}
    
            {% endblock body %}
        </div>
        
        <!--Lábléc-->

        <div class="">
            <footer class="footer">
                <img style="margin-right: 1vh;" class="logofooter" src="{% static 'images/logofooter.png' %}" alt="Company Logo">
                <p style="text-align: justify; text-align-last: left; margin-right: 5vh;">&copy; A weboldal teljes mértékben fiktív, tényleges árusításra nem jogosult. Egy iskolai projekt része, mely végeztével a weboldal részben/egészben elveszti funkcióit. Szerzői jogi védelem alatt álló oldal.</p>
            </footer>
        </div>
        

        <!--Skriptek-->
        <!-- Régebbi BS, lehet majd kelleni fog
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'default/main.js' %}"></script>
        <script src="{% static 'js/cart.js' %}"></script>
        {# Oldalanként külön skriptek hozzáadásához #}
        {% block scripts %}
        {% endblock %}
    </body>
</html>