{% extends "default/layout.html" %}
{% load static %}

{% block title %} Rólunk {% endblock %}

{% block body %}

<div>
    <h1 class="rolunkh1">
        Csapatunk
    </h1>
</div>
    
<div class="rowrolunk">
<div class = "cardrolunk" >
    <img class="rolunkimg" src="{% static 'images/letöltés.jpg' %}" alt="">
    <div class="card-content">
      <h2 class="rolunkh2">
        Kizek Zoltán
      </h2>
      <p class="rolunkp">
        Cigányos beütése van kicsit...  
      </p>
      
    </div>
</div>
    <div class = "cardrolunk" >
        <img class="rolunkimg" src="{% static 'images/zoli.jpeg' %}" alt="">
        <div class="card-content">
          <h2 class="rolunkh2">
            Szalay Zoltán Miklós
          </h2>
          <p class="rolunkp">
            Legkomolyabb főnökúr, igen helyben van.  
          </p>
          
        </div>
    </div>
        <div class = "cardrolunk" >
            <img class="rolunkimg" src="{% static 'images/flavi.jpg' %}" alt="">
            <div class="card-content">
              <h2 class="rolunkh2">
                Móricz Flávió
              </h2>
              <p class="rolunkp">
                Igen komoly emberünk.  
              </p>
              
            </div>
        </div>
            <div class = "cardrolunk" >
                <img class="rolunkimg" src="{% static 'images/noel.jpg' %}" alt="">
                <div class="card-content">
                  <h2 class="rolunkh2">
                    Nagy Noel
                  </h2>
                  <p class="rolunkp">
                    Szia uram, csao uram  
                  </p>
                  
                </div>
            </div>

</div>

{% endblock %}

{% block scripts %}
    {# Ide jönnek a szkriptek, ha esetleg kellene egyedi csak ehhez az oldalhoz #}
{% endblock %}
