{% extends "default/layout.html" %}
{% load static %}

{% block title %} Rólunk {% endblock %}

{% block body %}

<div>
    <h1 class="rolunkh1">
        Csapatunk
    </h1>
</div>
    
<div class="row">
<div class = "card" >
    <img class="rolunkimg" src="https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80" alt="">
    <div class="card-content">
      <h2 class="rolunkh2">
        Card Heading
      </h2>
      <p class="rolunkp">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
      </p>
      <a class="rolunka" href="#" class="button">
        Find out more 
        <span class="material-symbols-outlined">
          arrow_right_alt
        </span>
      </a>
    </div>
</div>
    <div class = "card" >
        <img class="rolunkimg" src="https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80" alt="">
        <div class="card-content">
          <h2 class="rolunkh2">
            Card Heading
          </h2>
          <p class="rolunkp">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
          </p>
          <a class="rolunka" href="#" class="button">
            Find out more 
            <span class="material-symbols-outlined">
              arrow_right_alt
            </span>
          </a>
        </div>
    </div>
        <div class = "card" >
            <img class="rolunkimg" src="https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80" alt="">
            <div class="card-content">
              <h2 class="rolunkh2">
                Card Heading
              </h2>
              <p class="rolunkp">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
              </p>
              <a class="rolunka" href="#" class="button">
                Find out more 
                <span class="material-symbols-outlined">
                  arrow_right_alt
                </span>
              </a>
            </div>
        </div>
            <div class = "card" >
                <img class="rolunkimg" src="https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80" alt="">
                <div class="card-content">
                  <h2 class="rolunkh2">
                    Card Heading
                  </h2>
                  <p class="rolunkp">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
                  </p>
                  <a class="rolunka" href="#" class="button">
                    Find out more 
                    <span class="material-symbols-outlined">
                      arrow_right_alt
                    </span>
                  </a>
                </div>
            </div>

</div>

{% endblock %}

{% block scripts %}
    {# Ide jönnek a szkriptek, ha esetleg kellene egyedi csak ehhez az oldalhoz #}
{% endblock %}
