{% extends "default/layout.html" %}
{% load static %}

{% block title %} Rólunk {% endblock %}

{% block body %}

<div>
    <h1 class="rolunkh1">
        Csapatunk
    </h1>
</div>

<div class="rowrolunk">
<div class = "cardrolunk" >
    <img class="rolunkimg" src="{% static 'images/letöltés.jpg' %}" alt="">
    <div class="card-content">
      <h2 class="rolunkh2" style="color: white">
        Kizek Zoltán
      </h2>
      <p class="rolunkp">
        A weboldal főtervezője. Felelős a weboldal kinézetéért és működéséért.
      </p>

    </div>
</div>
    <div class = "cardrolunk" >
        <img class="rolunkimg" src="{% static 'images/zoli.jpg' %}" alt="">
        <div class="card-content">
          <h2 class="rolunkh2" style="color: white">
            Szalay Zoltán Miklós
          </h2>
          <p class="rolunkp">
            A csapat főnöke. Felelős a munka felosztásáért, és a dokumentációért.
          </p>

        </div>
    </div>
        <div class = "cardrolunk" >
            <img class="rolunkimg" src="{% static 'images/flavi.jpg' %}" alt="">
            <div class="card-content">
              <h2 class="rolunkh2" style="color: white">
                Móricz Flávió
              </h2>
              <p class="rolunkp">
                A weboldal tervezője. Felelős a heti munkabemutatókért, a rólunk oldalért.
              </p>

            </div>
        </div>
            <div class = "cardrolunk" >
                <img class="rolunkimg" src="{% static 'images/noel.jpg' %}" alt="">
                <div class="card-content">
                  <h2 class="rolunkh2" style="color: white">
                    Nagy Noel
                  </h2>
                  <p class="rolunkp">
                    A weboldal tervezője. Felelős a hibajavításokért.
                  </p>

                </div>
            </div>

</div>

{% endblock %}

{% block scripts %}
    {# Ide jönnek a szkriptek, ha esetleg kellene egyedi csak ehhez az oldalhoz #}
{% endblock %}
