{% extends "default/layout.html" %}
{% load static %}
{% load humanize %}

{% block title %} Webshop {% endblock %}

{% block body %}
    
<div class="row">
    {% for product in products %}
    <div class="product-card col-lg-4 col-md-6">
        <div class="product-image">
        <a href="{% url 'item_detail' item_name=product.name %}"><img class="thumbnail" src="{{product.imageURL}}"></a>
        </div>
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <!-- <a class="btn btn-outline-success" >Részletek</a> -->
            <h4 style="display: inline-block;">{{product.price|floatformat:0|intcomma}} HUF</h4>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart" style="display: inline-block;float: right;">Kosárba</button>
        </div>
    </div>
    {% endfor %}
</div>    

{% endblock %}

{% block scripts %}
    {# Ide jönnek a szkriptek, ha esetleg kellene egyedi csak ehhez az oldalhoz #}
{% endblock %}