{% extends "default/layout.html" %}
{% load static %}

{% block title %} Fiók {% endblock %}

{% block body %}

<div class="profile-container">
    <div class="user-info">
        <h2>User Information</h2>
        <p><strong>Name:</strong> {{ customer.name }}</p>
        <p><strong>Email:</strong> {{ customer.email }}</p>
        <p><strong>Vezeteknev:</strong></p>
    </div>

    <div class="separator"></div>

    <!-- EZ MÉG KELL KI NE TOROLD GECI
        
        
        Lower Block: User Adverts
    <div class="user-adverts">
        <h2>User Adverts</h2>
        {% for item in items_for_sale %}
            <div class="card">
                <img src="{{ item.image_url }}" alt="{{ item.name }}" class="card-image">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
            </div>
        {% endfor %}
    </div>
     -->
</div>


{% endblock %}

{% block scripts %}
    {# Ide jönnek a szkriptek, ha esetleg kellene egyedi csak ehhez az oldalhoz #}
{% endblock %}