{% extends "default/layout.html" %}
{% load static %}

{% block title %} Fiók {% endblock %}

{% block body %}
  <!-- profile.html -->

<div class="profile-container">
    <!-- Upper Block: User Information -->
    <div class="user-info">
        <h2>Felhasználói adatok</h2>
        <p><strong>Név:</strong> {{ user_profile.user.get_full_name }}</p>
        <p><strong>Email:</strong> {{ user_profile.user.email }}</p>
        <p><strong>Telefonszám:</strong> {{ user_profile.phone_number }}</p>
    </div>

    <!-- Line Separator -->
    <div class="separator"></div>

    <!-- Lower Block: User Adverts -->
    <div class="user-adverts">
        <h2>Hirdetéseim</h2>
        {% for item in items_for_sale %}
            <div class="card">
                <img src="{{ item.image_url }}" alt="{{ item.name }}" class="card-image">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block scripts %}
    {# Ide jönnek a szkriptek, ha esetleg kellene egyedi csak ehhez az oldalhoz #}
{% endblock %}