{% extends "default/layout.html" %}
{% load static %}

{% block sytlesheets %}
<style>
    .doboz {
        width: 300px;
        background-color: #F0F0F0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .gombcsoport {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .input-field {
        width: 100%;
        margin-bottom: 10px;
    }
    .pipatarto {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .checkbox-label {
        margin-left: 5px;
    }
    .register-button {
        width: 100%;
        background-color: #fff;
        color: #F77C01;
        border: 2px solid #F77C01;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    .register-button:hover {
        background-color: #F77C01;
        color: #fff;
    }
</style>
{% endblock %}

{% block title %} Regisztráció {% endblock %}

{% block body %}

<form method="post">
    {% csrf_token %}
    <div class="doboz">
        <div class="gombcsoport">
            <a class="btn btn-primary btn-rounded custom-btn" style="background-color: #007bff; color: #fff;" href=""><strong>Regisztráció</strong></a>
            <a class="btn btn-primary btn-rounded custom-btn" href="{% url 'bejelentkezes' %}">Bejelentkezés</a>
        </div>
        {{ form.email }}
        {{ form.email.errors }}
        {{ form.username }}
        {{ form.username.errors }}
        {{ form.password }}
        {{ form.password_confirm.errors }}
        {{ form.password_confirm }}
        <div class="pipatarto">
            {{ form.terms_checkbox.errors }}
            {{ form.terms_checkbox }}
            <label for="termsCheckbox">Elfogadom a <a href="#">szerződési feltételeket</a></label>
        </div>
        <button type="submit" class="register-button"><strong>Regisztrálok</strong></button>
    </div>
</form>

{% endblock %}

{% block scripts %}
    {# Ide jönnek a szkriptek, ha esetleg kellene egyedi csak ehhez az oldalhoz #}
{% endblock %}