{% extends "default/layout.html" %}
{% load static %}

{% block sytlesheets %}
<style>
</style>
{% endblock %}

{% block title %} Fórum {% endblock %}

{% block body %}


<div class="row">
    <div class="col-lg-9 mx-auto" style="margin-top: 20px;">
        <div class="box-element" id="form-wrapper">
            <div id="user-info profile-info">
                <br>
                <h2 style="text-align: center;"><strong>Üdvözlünk a fórumon {{ customer.name }}!</strong></h2>
                <br>
                <hr>
                <h3><strong></strong></h3>

                <h3>Hozz létre saját témát:</h3>
                <button onclick="toggleForm()" class="user-btn">Téma létrehozása</button>
                <div id="topicForm" style="display: none;">
                    <h2></h2>
                    <form method="post" action="{% url 'forumcucc' %}">
                        {% csrf_token %}
                        <label for="title">Cím:</label>
                        <input type="text" id="title" name="title">
                        {{ form.title.errors }}
                        <label for="title">Bővebb leírás:</label>
                        <input type="text" id="leiras" name="leiras">
                        <button type="submit" class="user-btn">Közzététel</button>
                    </form>
                    <hr>
                </div>
                
                <hr>
                <h3><strong>Saját témák:</strong></h3> 
                <hr>
                <br>
                {% for topic in topics %}
                {% if topic.creator == current_user %}
                    
                    <hr>
                    <a href="{% url 'topic_detail' topic.id %}" style="text-decoration: none; color: black;">
                        <li>
                            <p>Cím: {{ topic.title }}</p>
                            <p>{{topic.leiras}}</p>
                            </a>
                            <form action="{% url 'delete_topic' topic.id %}" method="post">
                                {% csrf_token %}
                                <button class="delete-btn" type="submit">Téma törlése</button>
                            </form>
                            <p style="float: right;">Létrehoztad: {{ topic.created_at }} / Kommentek száma: {{ topic.num_comments }}</p>
                        </li>
                        <br>
                    <hr>
                    
                {% endif %}
                {% endfor %}

                <hr>
                <h3><strong>További témák:</strong></h3> 
                <hr>
                <br>

                {% for topic in topics %}
                {% if topic.creator != current_user %}
                
                    <hr>
                    <a href="{% url 'topic_detail' topic.id %}" style="text-decoration: none; color: black;">
                        <li>
                            <p>Cím: {{ topic.title }}</p>
                            <p>{{topic.leiras}}</p>
                            </a>
                            <p style="float: right;">Létrehozó: {{ topic.creator }} / Létrehozva: {{ topic.created_at }} / Kommentek száma: {{ topic.num_comments }}</p>
                        </li>
                        <br>
                    <hr>
                
                {% endif %}
                {% endfor %}



            </div>
        </div>
    </div>
</div>









{% endblock %}

{% block scripts %}
<script>
    function toggleForm() {
        var form = document.getElementById('topicForm');
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }
</script>
{% endblock %}