{% extends "default/layout.html" %}
{% load static %}

{% block sytlesheets %}
<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    h1 {
        text-align: left;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    .topic {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
    }
    .comments {
        margin-top: 20px;
    }
    .comment {
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .container {
        word-wrap: break-word;
    }
</style>
{% endblock %}

{% block title %} {{topic.title}} {% endblock %}

{% block body %}

{% if customer.banned_forum == False %}
{% endif %}
{% if customer.banned_forum == True %}
{% endif %}




<div class="row">
    <div class="col-lg-12 mx-auto" style="margin-top: 20px;">
        <div class="box-element" id="form-wrapper">
            <div id="user-info profile-info">





                <div class="col-auto mt-1">
                    <a href="{% url 'forumcucc' %}" class="btn back-btn"><i class='bx bx-arrow-back bx-md' style="margin-bottom: 5px;"></i></a>
                </div>
                <div class="container">
                    <br>
                    <h1>{{ topic.title }}</h1>
                    <br>
                    <p>{{ topic.leiras }}</p>
                    <br>
                    <div class="topic">
                        <p>Létrehozó: {{ topic.creator }}</p>
                        <p>Létrehozva ekkor: {{ topic.created_at }}</p>
                    </div>

                    <hr>
                        {% if not customer.banned_forum %}
                            <h2>Kommentelj:</h2>
                            <form method="post">
                                {% csrf_token %}
                                <label for="title">Tartalom:</label>
                                <input type="text" id="content" name="content" maxlength="75">
                                <button type="submit" class="user-btn">Beküldés</button>
                            </form>
                        {% elif customer.banned_forum == True %}
                            <h2>Nem kommentelhetsz!</h2>
                            <h3>A kommenteléstől <span style="color: red"><b>el vagy tiltva!</b></span></h3>
                        {% endif %}
                    <hr>


                        <!--  EZ megy felulre                             VÉGÜL VALAHOGY JÓ ÍGY IS AHOGY VAN DE HA ELBASZODNA ITTHAGYOM
                    <div id="topicForm" style="display: none;">
                    <h2>Hozz létre témát:</h2>
                    <form method="post" action="{% url 'forumcucc' %}">
                        {% csrf_token %}
                        <label for="title">Cím:</label>
                        <input type="text" id="title" name="title">
                        <label for="title">Bővebb leírás:</label>
                        <input type="text" id="leiras" name="leiras">
                        <button type="submit" class="user-btn">Közzététel</button>
                    </form>
                    <hr>
                </div>
                        -->


                    <div class="comments">
                        <h2 style="margin-bottom: 10px;">Kommentek: ({{ num_comments }})</h2>
                        {% for comment in comments %}
                            <div class="comment" style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                                <div class="comment-content" style="flex-grow: 1;">
                                    <p>{{ comment.content }} - {{ comment.commenter }}</p>
                                </div>
                                <div class="delete-button" style="margin-left: 10px;">
                                    {% if comment.commenter == request.user or user.is_superuser %}
                                        <form action="{% url 'delete_comment' comment.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn back-btn" type="submit"><i class='bx bx-trash'></i></button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>








            </div>
        </div>
    </div>
</div>











{% endblock %}

{% block scripts %}
    {# Ide jönnek a szkriptek, ha esetleg kellene egyedi csak ehhez az oldalhoz #}
{% endblock %}